.proSection {
  background: linear-gradient(0deg, rgba(20, 8, 15, 0.6), rgba(20, 23, 10, 0.6)), url(/assets/home-section-1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: max-content;
  padding: 150px 0 100px 0 ;
}

.proSoundsContainer {
  display: flex;

  @media screen and (max-width: 580px) {
    justify-content: center;
  }

  &Item {
    width: 546px;
    max-width: 546px;

    &BottomLine {
      width: 100%;
      height: 5px;
      border-radius: 12px;
      background-color: rgb(224, 173, 83);
      margin: 10px 0 35px 0;
    }


    h6 {
      font-size: 21px;
      margin-bottom: 35px;
    }

    .btn {
      border-radius: 0;
      font-weight: bold;
      font-size: 20px;
      padding: 10px 20px;
      border: 2px solid white;

    }

    .discoverBtn {
      background-color: white;
      color: black;
    }

    .reachBtn {
      background-color: transparent;
      color: white;
    }

    @media screen and (max-width: 580px) {
      width: 450px;
      padding: 0 2rem;
      h1 {
        font-size: 2.65rem;
      }
    }

    @media screen and (max-width: 480px) {
      width: 358px;
      padding: 0 4px;
      h1 {
        font-size: 2.4rem;
      }
    }
  }
}

