.sliderContainer {
  background: linear-gradient(0deg, rgba(20, 8, 15, 0.6), rgba(20, 23, 10, 0.6)), url(/assets/home-section-1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: max-content;
  padding: 70px 0 70px 0 ;
}